@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --clr-primary:#737fece5;
  --clr-danger:#ff7782;
  --clr-success:#41f1b6;
  --clr-warning:#ffbb55;
  --clr-info-dark:#7d8da1;
  --clr-info-light:#dce1eb;
  --clr-white:#fff;
  --clr-black:#222;
  --clr-grey:#888;
  --clr-light:#f2f2f2;
  --clr-dark:#16171f;
  --clr-primary-variant:#111e88;
  --clr-dark-variant:#677483;
  --clr-color-background:#f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  
  --box-shadow: 0 2rem 3rem var(--clr-light);

  --transition: all 300ms ease;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
  background-color: var(--clr-white);
}
body{
  font-family: 'Poppins', sans-serif;
}

.main-container{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a{
  color: var(--clr-dark);
}
h1{
  font-weight: 800;
  font-size: 1.8rem;
}
h2{
  font-size: 1.3rem;

}
h3{
  font-size:0.87rem;
}
h4{
  font-size: 0.8rem;
}
h5{
  font-size: 0.77rem;
}
small{
  font-size: 0.75rem;
}
.text-muted{
  color: var(--clr-info-dark);
}
p{
  color: var(--clr-dark-variant);
}
b{
  color: var(--clr-dark);
}
.primary{
  color: var(--clr-primary);
}
.danger{
  color: var(--clr-danger);
}
.success{
  color: var(--clr-success);
}
.warning{
  color: var(--clr-warning);
}
/* transcation */

.transaction{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 700px;

}
.display-items{
  margin-top: 10px;
  display: flex;
  width: 98%;
  flex-direction:column;

 

}
.display-item{
  justify-self: space-evenly;

}
/* entry table */
.table-container {
  display: flex;
  position: absolute;
  left: 0.1rem; 
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  margin: 0 auto; /* Center the table container horizontally */
  text-align: center; /* Align text inside table cells to the left */
}
/* PNL Table */
.table-container1{
  display: none;
  position: absolute;
  left: 0.1rem; 
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  margin: 0 auto; /* Center the table container horizontally */
  text-align: center; /* Align text inside table cells to the left */
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures even distribution of columns */
}

th, td {
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Prevent line breaks */
  width: 20%; /* Distribute the width evenly among 5 columns */
}
th{
  text-align: center;
}
th {
  background-color: #f4f4f4;
}
/* ------------top nav bar {start}--------------- */
.main-container{

  width: 100%;
  height: 100%;
}
.tile-box{
  display: flex;
  margin-top: 0.2rem;
  background-color: var(--clr-white);
  height: 3.5rem;
  justify-content: space-around;
  align-items: center;
}
.div-title-1{
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
}
.title{
  background-color: var(--clr-white);
}
.div-title-2{
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-white);
}
#dash-back{
  padding: 0.1rem;
  width: 7rem;
  height: 2.5rem;
  background-color: orange;
  color: var(--clr-dark);
  border-radius: 1rem;
  border: 0.1rem solid white;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buysell-box{
  margin-top: 1rem;
  display: flex;
  margin-top: 0.2rem;
  background-color: var(--clr-white);
  height: 4rem;
  justify-content: space-around;
  align-items: center;
}
.bs-pnl{
  justify-content: start;
  width: 8rem;
}
.pnl-display{
  justify-self: center;
  font-weight: 400;
  background-color: var(--clr-white);
}
#pnl{
  align-self: center;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: var(--clr-white);
}
.bs-bs-bth{
  width: 20rem;
  padding-left: 1rem;
  background-color: var(--clr-white);
  /* align-items: center; */
  justify-content:space-between;
}
#buy{
  margin: 0.2rem;
  padding: 0.2 rem;
  height: 2rem;
  width: 5rem;
  font-weight:700;
  border-radius: 1rem;
  background-color: green;
  color: var(--clr-white);
  cursor: pointer;
  
}
#sell{
  margin: 0.2rem;
  padding: 0.2 rem;
  height: 2rem;
  width: 5rem;
  background-color: red;
  font-weight:700;
  border-radius: 1rem;
  color: var(--clr-white);
  cursor: pointer;
}

.bs-real-btn{
  background-color: var(--clr-white);
}
#bs-real-btn{
  display: block;
  margin: 0.2rem;
  padding: 0.2 rem;
  height: 2rem;
  width: 4rem;
  background-color: orange;
  font-weight:700;
  border-radius: 1rem;
  color: var(--clr-dark);
  cursor: pointer;
}
#bs-entry-btn{
  display: none;
  margin: 0.2rem;
  padding: 0.2 rem;
  height: 2rem;
  width: 4rem;
  border: 0.1rem solid black;
  background-color: orange;
  font-weight:700;
  border-radius: 1rem;
  color: var(--clr-white);
  cursor: pointer;
}




#submit{
  /* background-color: green; */
  position: relative;
  width: 6rem;
  font-size: 18px;
  border-radius: 1rem;
  color: var(--clr-white);
  height: 2rem;
  left: 12rem;
}
.dateInput{
  /* height: 3rem; */
  font-size: 18px;
}
.symbolInput{
  font-size: 18px;
}
.symbol-price{
  font-size: 18px;
}
.symbol-price-qty{
  font-size: 18px;
}

.closeButton:hover {
  color: #555;
}

.buy-sell-btn{
 height: 2rem;
 width: 2rem;
 border-radius: 1rem;
 cursor: pointer;
}
.record-cancel{
  height: 2rem;
  width: 2rem;
  border-radius: 1rem; 
  cursor: pointer;
}
.record-cancel-1{
  height: 2rem;
  width: 2rem;
  color: red;
  font-size: 24px;
  border-radius: 1rem; 
  cursor: pointer;
}

.positive-price{
  background-color: green;
  color: white;
  font-weight: 700;
  padding: 5px 5px;
}
.record-cancel{
  cursor: pointer;
  color: red;
  font-size: 24px;
  padding: 5px 5px;
}

.negative-price{
  background-color: red;
  color: white;
  font-weight: 700;
}
#record-cancel{
  width: 10px;
  font-size: 18px;
}

@keyframes popAnimation {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
  /* pop modal */

  .modal{
    width: 40%;
    height: 50%;
    /* background-color: #4286F5; */
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    border: 2px solid black;
    transform: translate(-50%,-50%) scale(0);
    /* opacity: 0; */

    transition: 0.2 ease-in-out;
    display: none;
    z-index: 2px;
  }
  
  .modal.active{
    display: block ;
    /* opacity: 1; */
    transform: translate(-50%,-50%) scale(1);
    z-index: 2;
  }
  .modal .modal-header{
    display: flex;
    height: 40px;
    width: 40%;
    align-items: center;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
    /* background-color:; */
    /* background-color: aqua; */
  }
  .modal .modal-header h4{
    font-size: 35px;
    padding: 10px;
    margin-top: 1.5rem;
    position: fixed;
    left: 25px; 
    right: 50%;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: red; */
  }
  .modal .modal-header .close-btn-1{
    background-color: transparent;
    font-size: 32px;
    position: fixed;
    right: 15px;
    top: 15px;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
    z-index: 9999;
  }
  .modal .modal-header .close-btn:hover{
    color: black;
  }

  .modal-body{
    width: 100%;
    padding: 20px;
    /* background-color: rebeccapurple; */
    display:flex;
    flex-direction: column;
  }
  .modal-body label{
    font-size: 18px;
    color: gray;
    margin-right: 20px;
  }
  
  .modal-body .entry-date-input,.symbol{
    font-size: 20px;
    border: none;
  }
  
  .modal-body .submit-button{
    background-color: red;
    margin-top: 40px;
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    position: absolute;
    color: #fff;
    left: 32%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
  }
   
  .profitpnl{
    color: green;
    font-weight: 600;
  }
  .losspnl{
    color: red;
    font-weight: 600;
  }
  .default{
    color: black;
  }
