<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compounding Funda</title>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/disc.css?v=1.0.0.1">
</head>
<body>

<div class="overlay" id="overlay">
    <div class="popup">
        <h3>Compounding Funda</h3>
        <h2>Disclaimer</h2>
        <h3>Kind Attention of All Members</h3>
        <p>Disclaimer from Admins as per SEBI norms:<p>
        <ul>
            <li>Equity Investments are subject to 100% market risks. Kindly refer to your financial consultant advice before Trading & Investing in stock markets.</li>
            <li>This group/channel is only for Educational and Learning, Knowledge Purposes. Admins have no responsibility for your intended decision & financial losses. Keep calculated & always analyzed your cash position and risk bearing capacity before following msg of our group postings.</li>
            <li>Stock market investments are VERY RISKY and being part of this group, you agree that you understand the Market risks involved. Profits and Losses are part of Share market. Most of the times, retail traders end up making only Losses in Share market.</li>
            <li>All member pls follow guidelines as applicable even in past too.</li>
        </ul>
        <p>SEBI SOCIAL MEDIA MANDATE & MANDATORY DISCLAIMER AS REQUIRED BY SEBI</p>
        <p>Disclaimer/ disclosure</p>
        <ul>
            <li>This group/channel does not provide any tips/recommendations/advice</li>
            <li>All updates/analysis/posts/discussions are only for educational and learning purpose.</li>
            <li>Do Consult your financial advisor before taking trades or investment decisions</li>
            <li>Group/Channel Admins or Members are not responsible for any financial losses</li>
            <li>Disclaimer/disclosure/terms and conditions applicable to all members of this group/channel</li>
        </ul>
        <p>We are not SEBI registered. Members posting may not be SEBI registered also. All the posts are for education and learning purpose only.</p>
       <div class="but-agg"><button onclick="closePopup()">I Agree to continue</button></div>
    </div>
</div>

<script src="static/js/disc.js?v=1.0.0.1"></script>
</body>
</html>
