<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Investor</title>
  <!-- Bootstrap CSS for styling -->
  <link rel="stylesheet" type="text/css" href="static/css/champion.css?v=1.0.0.1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/investor.css?v=1.0.0.5">
  <!-- Chart.js for charting -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div class="full-height-container">
    <div class="header">
      <h2>Investor's Dashboard with Rising Fundamental Stocks</h2>
    </div>
    
    <div class="back-btn">
      <button class = "btn btn-custom back-btn" id="trader" onclick="swipedashboard()">Trader Dashboard</button>
   
      <button class = "btn btn-custom back-btn" onclick="dashboard()">Dashboard</button>
    </div>

    <div class="table-wrapper">
      <h3>Daily</h3>
      <div id="swing-table"></div>
    </div>
    <div class="table-wrapper">
      <h3>Weekly</h3>
      <div id="positional-table"></div>
    </div>
    <div class="table-wrapper">
      <h3>Monthly</h3>
      <div id="stage_2-table"></div>
    </div>
    <div class="table-wrapper">
      <h3>6 Months High Breakout </h3>
      <div id="monthly-table"></div>
    </div>
  </div>

  <!-- Popup HTML -->
  <div class="popup-overlay" id="popup-overlay">
    <div class="popup">
      <div class="popup-header">
        <span class="popup-close" onclick="closePopup()">&times;</span>
      </div>
      <div id="popup-content">Popup Content</div>
    </div>
  </div>

  <!-- JavaScript for table generation -->
  <script src="static/js/investor.js?v=1.0.0.0.6"></script>
</body>
</html>
