<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <div class="container">
    <h1 class="page-title">Sign Up</h1>
    <p id="referral_code_display"></p>
    <div class="signup">
    <img src="static/images/logo2.png" alt="Logo" class="logo">
    <input type="hidden" id="referralCode" value="{{ referral_code }}">
</div>
    <div id="signup-section">
      <div class="input-container">
        <input type="text" id="name" placeholder="Full Name" required>
      </div>
      <div class="input-container">
        <input type="email" id="email" placeholder="Only Use Gmail Account" required>
      </div>
      <div class="input-container">
        <input type="password" id="password" placeholder="Password" required>
        <span class="toggle-password" onclick="togglePasswordVisibility()">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </span>
      </div>
      <div class="input-container">
        <input type="tel" id="mobile" placeholder="+91 1234567890">
      </div>

<!--       <div class="input-container"> -->
      <button onclick="signUp()">Sign Up</button>
      <p>Already have an account? <a href="/">Sign In</a></p>
    <div class="processing-indicator" id="processing-indicator">
        <img src="static/images/loading-spinner.gif" alt="Processing...">
        <p>Processing...</p>
    </div>
  </div>


  <script src="static\js\script.js"></script>
</body>
</html>